<a href="https://colab.research.google.com/github/anicelysantos/oficina-codabr/blob/main/oficina_coda_rascunho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# **Ent√£o vamo l√°, vamo de xeroqui roumi** üïµüèæ‚Äç‚ôÄÔ∏è

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/dados_pandas/empresas_trabalho_escravo.csv')
df.head(10)

    Ano  ...  N¬∫ Trab. cond. analog escravo
0  2010  ...                              3
1  2010  ...                              5
2  2010  ...                             26
3  2010  ...                              2
4  2010  ...                             28
5  2010  ...                             14
6  2010  ...                              4
7  2010  ...                              8
8  2010  ...                              8
9  2010  ...                             24

[10 rows x 11 columns]

In [ ]:
#rancking de empresas (CNAE)

df['Descri√ß√£o CNAE'].value_counts().head(5)

CRIA√á√ÉO DE BOVINOS P    357
PRODU√á√ÉO DE CARV√ÉO V    147
CONSTRU√á√ÉO DE EDIF√çC     90
CULTIVO DE CAF√â          79
EXTRA√á√ÉO DE MADEIRA      72
Name: Descri√ß√£o CNAE, dtype: int64

In [ ]:
#Qual estado teve mais opera√ß√µes

df[['UF','Opera√ß√£o']].groupby('UF').sum().sort_values('Opera√ß√£o', ascending=False).head(10)

    Opera√ß√£o
UF
MG     19173
PA     14810
SP     10773
GO      6598
BA      6450
RJ      6095
MT      5993
MA      4920
TO      4330
PI      4112

In [ ]:
#Ano em que mais houve altua√ß√£o
df[['Ano','Opera√ß√£o']].groupby('Ano').sum().sort_values('Opera√ß√£o', ascending=False)

      Opera√ß√£o
Ano
2011     14893
2013     13431
2012     10558
2014     10446
2019     10327
2010     10154
2018      8794
2015      8748
2020      7628
2017      6653
2016      6538

In [ ]:
#Total de pessoas em libertas do trabalho escravo de 2010 a 2020
df['N¬∫ Trab. cond. analog escravo'].sum()

19064

In [ ]:
#Numero total de pessoas libertas atrav√©s dos anos por estado
df[['UF','N¬∫ Trab. cond. analog escravo']].groupby('UF').sum().sort_values('N¬∫ Trab. cond. analog escravo', ascending=False)

    N¬∫ Trab. cond. analog escravo
UF
MG                           5505
PA                           2091
SP                           1600
GO                           1448
TO                            790
MA                            776
MS                            770
BA                            767
PI                            678
SC                            633
RJ                            605
MT                            569
PR                            538
AM                            351
ES                            348
CE                            289
RO                            249
RS                            215
AL                            184
DF                            158
PE                            156
AC                            127
PB                             72
RR                             65
RN                             43
AP                             37

In [ ]:
#Qual ano que mais houveram pessoas libertadas
df[['Ano','N¬∫ Trab. cond. analog escravo']].groupby('Ano').sum().sort_values('N¬∫ Trab. cond. analog escravo', ascending=False)

      N¬∫ Trab. cond. analog escravo
Ano
2013                           2808
2012                           2775
2010                           2640
2011                           2496
2014                           1754
2018                           1752
2015                           1205
2019                           1193
2016                            972
2020                            821
2017                            648

In [ ]:
df.columns

Index(['Ano', 'Opera√ß√£o', 'Dia/M√™s', 'UF', 'Munic√≠pio', 'CNAE',
       'Descri√ß√£o CNAE', 'Propriet√°rio', 'CNPJ/CEI/CPF',
       'Estabelecimento Inspecionado', 'N¬∫ Trab. cond. analog escravo'],
      dtype='object')

In [ ]:
df[df.UF == 'RJ']

       Ano  ...  N¬∫ Trab. cond. analog escravo
106   2010  ...                              1
131   2010  ...                             33
132   2010  ...                             24
220   2011  ...                              5
221   2011  ...                              1
...    ...  ...                            ...
1247  2019  ...                              3
1248  2019  ...                              1
1249  2019  ...                              3
1277  2019  ...                             13
1374  2020  ...                              2

[62 rows x 11 columns]

# **MilkShake dos Dados** ü•§