<a href="https://colab.research.google.com/github/JBdantas/oficina-codabr21/blob/main/oficina_codabr21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Programa√ß√£o do zero a pr√°tica: Primeiros passos com Python** üêçüé≤üêº

## Notebooks üíª



*   O que s√£o
*   Como funcionam
*   Mini tour pelos principais lugares
*   Erros comuns:
  *  Congelar a c√©lula
  *  Erro na c√©lula

## Python, bem basiquinho üêç

### Agenda

*    O que √© o Python
*    Coment√°rios
*    Import
  *  Zen do Python
*    Tipos de dados
  *  Type
  *  String
      *  Fun√ß√µes
  *  N√∫meros 
  *  Booleanos
*    Vari√°vel
*    M√©todo
*    Fun√ß√£o Print
* Cole√ß√£o de dados
  *  Listas
  * Dicion√°rios
* For
* If e Else

### Import

In [1]:
#Zen do Python
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### String

In [2]:
'Ol√° Mundo'

'Ol√° Mundo'

In [3]:
"Ol√°, pessoal!"

'Ol√°, pessoal!'

In [5]:
#concatena√ß√£o
'Quinta'+'-'+'Feira'

'Quinta-Feira'

In [6]:
#Descobrir qual o tipo do dado/variavel
type('Oie')

str

In [ ]:
#Qual a diferen√ßa?
#2+3 / '2'+'3'
#um √© formula matematica, outro concatena√ß√£o de str

### N√∫meros

In [7]:
#Inteiros
type(21)

int

In [8]:
type(21.2)

float

**Opera√ß√µes matem√°ticas**

In [9]:
#Soma
2 + 2

4

In [10]:
#Subtra√ß√£o
2-2

0

In [11]:
#Divis√£o
2/2

1.0

In [12]:
#Multiplica√ß√£o
2*2

4

In [13]:
#Pot√™ncia
2**2

4

In [14]:
#Qual o resultado?
2+4/2

4.0

### Booleano

In [15]:
type(False)

bool

In [16]:
type(True)

bool

### Vari√°veis

In [20]:
numero = 35

In [21]:
numero

35

**Operadores l√≥gicos**

In [ ]:
#Compara√ß√£o
#numero == 34

In [ ]:
#Diferente
#numero != 15

In [ ]:
#Maior que
#2 > 4

In [ ]:
#Menor que
#2 < 4

In [ ]:
#Maior igual
#numero >= 8

In [ ]:
#Menor igual
#numero <= 100

### M√©todos

In [22]:
minha_fruta =  'banana'

In [23]:
minha_fruta.upper()

'BANANA'

In [24]:
minha_fruta.lower()

'banana'

In [26]:
minha_fruta.count('a')

3

In [27]:
bebida = '√°gua de coco'
bebida

'√°gua de coco'

In [28]:
#Separar
bebida.split()

['√°gua', 'de', 'coco']

In [29]:
#M√©todos encandeados
bebida.upper().split()

['√ÅGUA', 'DE', 'COCO']

In [30]:
#Mudan√ßas na String
bebida_grande = bebida.upper().split()
bebida_grande

['√ÅGUA', 'DE', 'COCO']

### Print

In [31]:
print('bom dia')

bom dia

In [32]:
evento = 'Coda'

In [33]:
print(f'bom dia, {evento}')

bom dia, Coda

###Listas

In [34]:
frutas = ['pera', 'uva', 'ma√ß√£','laranja']

In [36]:
#Pegar o segundo elemento
frutas[1]

'uva'

In [37]:
#Pegar o √∫ltimo elemento
frutas[-1]

'laranja'

**Fatiamento de listas**

In [38]:
frutas[0:2]

['pera', 'uva']

In [39]:
frutas[:1]

['pera']

In [40]:
frutas[3:]

['laranja']

In [43]:
#Tamanho de uma lista
len(frutas)

5

In [42]:
#Incluir um item
frutas.append('melancia')

In [44]:
frutas

['pera', 'uva', 'ma√ß√£', 'laranja', 'melancia']

In [45]:
#Excluir um item
frutas.pop()

'melancia'

In [46]:
frutas

['pera', 'uva', 'ma√ß√£', 'laranja']

###Dicion√°rio

In [47]:
salada_de_frutas = {'ingredientes': frutas,
                    'preparo':'corte tudo e misture',
                    'tempo':60
                    }

In [48]:
#pegar um item
salada_de_frutas['ingredientes']

['pera', 'uva', 'ma√ß√£', 'laranja']

In [49]:
#adicionar item 
salada_de_frutas['por√ß√µes'] = 7

In [50]:
#excluir item
del salada_de_frutas['tempo']

In [54]:
salada_de_frutas

{'ingredientes': ['pera', 'uva', 'ma√ß√£', 'laranja'],
 'preparo': 'corte tudo e misture',
 'por√ß√µes': 7}

### Estrutura de repeti√ß√£o `For`

In [51]:
#iterando em listas
for fruta in frutas:
  print(fruta)

pera
uva
ma√ß√£
laranja

In [52]:
#Pegar as chaves do dicion√°rio
for chave in salada_de_frutas:
  print(chave)

ingredientes
preparo
por√ß√µes

In [53]:
#Pegar valor das chaves no dicion√°rio
for chave in salada_de_frutas:
  print(salada_de_frutas[chave])

['pera', 'uva', 'ma√ß√£', 'laranja']
corte tudo e misture
7

In [55]:
#Iterando em elementos de uma string
for letra in evento:
  print(letra)

C
o
d
a

### Estrutura condicional `if`

In [56]:
if 4 > 3:
  print('√â maior sim!')

√â maior sim!

In [57]:
if 4 >= 7:
  print('√â maior sim!')
else:
  print('Claro que n√£o!')

Claro que n√£o!

In [58]:
idade = 21

if idade > 30:
  print('Sou adulto')
elif idade > 19 & idade <= 30:
  print('sou jovem')
else:
  print('sou adolas')

sou jovem

## Pandas üêºüé≤

*  Importar o pandas
*  Carga de dados
*  Detalhando os dados
*  Organizando os dados
*  Filtrando os dados
*  Agrupando e agregando
*  Exportando

### Importar a `Biblioteca`

In [59]:
import pandas as pd

### Carga de dados

In [60]:
df_empresas = pd.read_csv('https://raw.githubusercontent.com/anicelysantos/oficina-codabr21/main/empresas_trabalho_escravo.csv')

### Detalhando os dados

In [61]:
df_empresas.head(10)

,Ano,Opera√ß√£o,Dia/M√™s,UF,Munic√≠pio,CNAE,Descri√ß√£o CNAE,Propriet√°rio,CNPJ/CEI/CPF,Estabelecimento Inspecionado,N¬∫ Trab. cond. analog escravo
0,2010,1,19/01/2010 a 29/01/2010,GO,MONTE ALEGRE DE GOI√ÅS,0151201,CRIA√á√ÉO DE BOVINOS P,THIAGO NEIVA HONORATO\n,330874152,FAZENDA JO√ÉO LUIZ,3
1,2010,1,19/01/2010 a 29/01/2010,GO,MONTE ALEGRE DE GOI√ÅS,0151201,CRIA√á√ÉO DE BOVINOS P,RENIUTON SOUZA DE MORAES\n,24845256134,FAZENDA OLHO D'√ÅGUA,5
2,2010,1,19/01/2010 a 29/01/2010,TO,NATIVIDADE,0151201,CRIA√á√ÉO DE BOVINOS P,EMIVAL RAMOS CAIADO FILHO\n,9655298191,FAZENDA SANTA M√îNICA,26
3,2010,2,26/01/2010 a 05/02/2010,PA,MARAB√Å,0151202,CRIA√á√ÉO DE BOVINOS P,H√âLIO DUARTE SOARES\n,4454931860,FAZENDA BOA SORTE,2
4,2010,3,27/01/2010 a 05/02/2010,PA,SANTA MARIA DAS BARREIRAS,0151201,CRIA√á√ÉO DE BOVINOS P,CSM AGROPECU√ÅRIA S.A\n(FAZENDA TARUM√É),5303431000221,CSM AGROPECU√ÅRIA S.A\n(FAZENDA TARUM√É),28
5,2010,4,23/12/2010 a 29/01/2010,MG,ARAGUARI,0119999,CULTIVO DE OUTRAS PL,PEDRO EUST√ÅQUIO PELLEGRINI\n,35048328604,FAZENDA CUNHAS,14
6,2010,5,23/02/2010 a 05/03/2010,PA,CONCEI√á√ÉO DO ARAGUAIA,0151201,CRIA√á√ÉO DE BOVINOS P,ANT√îNIO MARTINS RIBEIRO\n,13521519104,FAZENDA S√ÉO PEDRO,4
7,2010,7,22/01/2010 a 18/02/2010,AC,PORTO ACRE,0151202,CRIA√á√ÉO DE BOVINOS P,ROQUE REIS BARREIROS J√öNIOR\n,33954305291,FAZENDA HARMONIA,8
8,2010,8,02/03/2010 a 08/03/2010,RO,PORTO VELHO,0151201,CRIA√á√ÉO DE BOVINOS P,JO√ÉO ALTAIR CAETANO DOS SANTOS\n,36841323904,FAZENDA RANCHO COLORADO,8
9,2010,9,03/03/2010 a 09/03/2010,RS,BOM JESUS,0119903,CULTIVO DE BATATA-IN,PAULO CEZAR SEGALA\n,73466778034,PAULO CEZAR SEGALA\n,24

In [62]:
df_empresas.sample(3)

,Ano,Opera√ß√£o,Dia/M√™s,UF,Munic√≠pio,CNAE,Descri√ß√£o CNAE,Propriet√°rio,CNPJ/CEI/CPF,Estabelecimento Inspecionado,N¬∫ Trab. cond. analog escravo
1097,2018,33,19/04/2018 a 27/04/2018,RR,BOA VISTA,4120400,CONSTRU√á√ÉO DE EDIF√çC,VICTOR HUGO CORR√äA MANSUR,1287046240,CANTEIRO DE OBRAS - RESIDENCIAL,3
1038,2017,82,11/09/2017 a 22/09/2017,MA,VARGEM GRANDE,0220999,COLETA DE PRODUTOS N,EDMILSON ARAG√ÉO DA CUNHA,178410381,CARNAUBAIS DA ZONA RURAL DE VARGEM GRANDE,6
1021,2017,57,03/07/2017 a 31/07/2017,MG,JA√çBA,0133402,CULTIVO DE BANANA,GILBERTO FERREIRA DE SOUZA - ME,3769862635,"LOTES 10, 11 E 15",1

In [63]:
df_empresas.tail(3)

,Ano,Opera√ß√£o,Dia/M√™s,UF,Munic√≠pio,CNAE,Descri√ß√£o CNAE,Propriet√°rio,CNPJ/CEI/CPF,Estabelecimento Inspecionado,N¬∫ Trab. cond. analog escravo
1384,2020,189,01/12/2020 a 12/01/2021,PA,RONDON DO PAR√Å,4671100,COM√âRCIO ATACADISTA,GUAMA COM√âRCIO DE COMPENSADOS E REPRESENTA√á√ïES...,8724077000205,"FAZENDA MOREIRA, 4¬∫31‚Äô16.4‚Äô‚ÄôS ‚Äì 48¬∫15‚Äô03.2‚Äô‚ÄôW,...",13
1385,2020,190,26/11/2020 a 15/12/2020,PI,PARNA√çBA,1529700,FABRICA√á√ÉO DE ARTEFA,NR N SANTOS ME,63346605000159,CASA DOS COUROS,1
1386,2020,195,03/12/2020 a 13/01/2021,MS,NIOAQUE,0115600,CULTIVO DE SOJA,MAISA RODRIGUES DA COSTA,1385847107,FAZENDA SALTO,15

In [64]:
#resumo estat√≠stico
df_empresas.describe()

               Ano     Opera√ß√£o  CNPJ/CEI/CPF  N¬∫ Trab. cond. analog escravo
count  1387.000000  1387.000000  1.387000e+03                    1387.000000
mean   2014.268926    77.988464  6.471429e+12                      13.744773
std       3.175335    49.190898  1.543392e+13                      26.791397
min    2010.000000     1.000000  9.889597e+06                       1.000000
25%    2011.000000    36.000000  1.608456e+10                       4.000000
50%    2014.000000    73.000000  5.550614e+10                       7.000000
75%    2017.000000   116.000000  5.626995e+12                      14.000000
max    2020.000000   261.000000  9.702967e+13                     433.000000

In [65]:
#Quantidade de linhas e colunas
df_empresas.shape

(1387, 11)

In [66]:
#Nome das colunas e tipos de dados
df_empresas.dtypes

Ano                               int64
Opera√ß√£o                          int64
Dia/M√™s                          object
UF                               object
Munic√≠pio                        object
CNAE                             object
Descri√ß√£o CNAE                   object
Propriet√°rio                     object
CNPJ/CEI/CPF                      int64
Estabelecimento Inspecionado     object
N¬∫ Trab. cond. analog escravo     int64
dtype: object

In [67]:
#Nome das colunas
df_empresas.columns

Index(['Ano', 'Opera√ß√£o', 'Dia/M√™s', 'UF', 'Munic√≠pio', 'CNAE',
       'Descri√ß√£o CNAE', 'Propriet√°rio', 'CNPJ/CEI/CPF',
       'Estabelecimento Inspecionado', 'N¬∫ Trab. cond. analog escravo'],
      dtype='object')

### Organizando os dados

In [68]:
#Ordena os dados
df_empresas.sort_values('UF')

,Ano,Opera√ß√£o,Dia/M√™s,UF,Munic√≠pio,CNAE,Descri√ß√£o CNAE,Propriet√°rio,CNPJ/CEI/CPF,Estabelecimento Inspecionado,N¬∫ Trab. cond. analog escravo
789,2014,145,18/11/2014 a 19/12/2014,AC,RIO BRANCO,0151201,CRIA√á√ÉO DE BOVINOS P,FELIPE JOEL VERAS PINHEIRO,86784552253,ARRENDAMENTO DA FAZENDA ESTANCIA GUANABARA,15
685,2014,21,11/03/2014 a 21/03/2014,AC,SENA MADUREIRA,1092900,FABRICA√á√ÉO DE BISCOI,MIRAGINA S/A IND√öSTRIA E COM√âRCIO,4063681000198,FAZENDA MIRAGINA I,1
698,2014,33,29/07/2014 a 08/08/2014,AC,TARAUAC√Å,0151201,CRIA√á√ÉO DE BOVINOS P,JOS√â TELES DE OLIVEIRA FILHO,62069268268,FAZENDA PORTO ALEGRE,55
726,2014,67,22/04/2014 a 17/07/2014,AC,RIO BRANCO,0151201,CRIA√á√ÉO DE BOVINOS P,AMANDIO CELESTINO COGO,12029939900,ARRENDAMENTO DA FAZENDA PERSEVERAN√áA,3
921,2016,22,29/03/2016 a 08/04/2016,AC,RIO BRANCO,0151201,CRIA√á√ÉO DE BOVINOS P,LEANDRO LUIS LEITE,9817623874,FAZENDA CORREGO DO OURO,7
...,...,...,...,...,...,...,...,...,...,...,...
399,2012,37,09/04/2012 a 27/04/2012,TO,DIAN√ìPOLIS,0220902,PRODU√á√ÉO DE CARV√ÉO V,CL√ÅUDIO ROBERTO MARTIN,4689364915,FAZENDA MORADA VERDE,9
400,2012,37,09/04/2012 a 27/04/2012,TO,PRESIDENTE KENNEDY,0220902,PRODU√á√ÉO DE CARV√ÉO V,CARVOARIA CARV√ÉO NATIVO LTDA,14227279000155,FAZENDA S√ÉO CRIST√ìV√ÉO I,13
401,2012,37,09/04/2012 a 27/04/2012,TO,CRISTAL√ÇNDIA,0220902,PRODU√á√ÉO DE CARV√ÉO V,S√âRGIO ANT√îNIO NASCIMENTO,19978294600,FAZENDA SCALA II,7
205,2011,38,02/02/2011 a 15/03/2011,TO,CONCEI√á√ÉO DO TOCANTINS,0210108,PRODU√á√ÉO DE CARV√ÉO V,GERALDO OTAVIANO MENDES -,90929829620,CARVOARIA TEIXEIRA,6
841,2015,74,17/11/2015 a 27/11/2015,TO,BERNARDO SAY√ÉO,0151201,CRIA√á√ÉO DE BOVINOS P,AGROPECU√ÅRIA TERRA GRANDE S/A,1432186000110,AGROPECU√ÅRIA TERRA GRANDE S/A,15

In [69]:
#ordena decrescentemente
df_empresas.sort_values('UF', ascending=False)

,Ano,Opera√ß√£o,Dia/M√™s,UF,Munic√≠pio,CNAE,Descri√ß√£o CNAE,Propriet√°rio,CNPJ/CEI/CPF,Estabelecimento Inspecionado,N¬∫ Trab. cond. analog escravo
863,2015,103,16/07/2015 a 22/07/2015,TO,PORTO NACIONAL,0220902,PRODU√á√ÉO DE CARV√ÉO V,LUCIANO ROSA DO NASCIMENTO,51873702949,FAZENDA CASTELO,9
553,2013,43,21/05/2013 a 31/05/2013,TO,COLM√âIA,0151201,CRIA√á√ÉO DE BOVINOS P,PAULO VICENTE DA MOTA,23248823100,FAZENDA ESTA√á√ÉO,16
149,2010,125,30/11/2010 a 09/12/2010,TO,ARAGUACEMA,0151201,CRIA√á√ÉO DE BOVINOS P,NEWTON OLIVEIRA,2513595159,"FAZENDAS DA BEZERRA, PAU BRASIL, S√ÉO JOS√â, GAR...",33
834,2015,62,02/10/2015 a 09/10/2015,TO,BABA√áUL√ÇNDIA,0220901,EXTRA√á√ÉO DE MADEIRA,CER√ÇMICA CERMAR,3894214000147,FAZENDA PARAISO,2
686,2014,22,16/04/2014 a 30/04/2014,TO,NATIVIDADE,0151201,CRIA√á√ÉO DE BOVINOS P,FABIANO IAMAGUTI MAEDA E OUTROS,11912555816,FAZENDA ESPERAN√áA,6
...,...,...,...,...,...,...,...,...,...,...,...
789,2014,145,18/11/2014 a 19/12/2014,AC,RIO BRANCO,0151201,CRIA√á√ÉO DE BOVINOS P,FELIPE JOEL VERAS PINHEIRO,86784552253,ARRENDAMENTO DA FAZENDA ESTANCIA GUANABARA,15
337,2011,151,23/08/2011 a 22/11/2011,AC,FEIJ√ì,0151201,CRIA√á√ÉO DE BOVINOS P,RUI PINTO,73757187768,FAZENDA MASSIPIRA,7
252,2011,69,11/05/2011 a 07/06/2011,AC,PL√ÅCIDO DE CASTRO,0151201,CRIA√á√ÉO DE BOVINOS P,FERNANDO BARBOSA TEIXEIRA -,61773930125,FAZENDA VALE VERDE,8
7,2010,7,22/01/2010 a 18/02/2010,AC,PORTO ACRE,0151202,CRIA√á√ÉO DE BOVINOS P,ROQUE REIS BARREIROS J√öNIOR\n,33954305291,FAZENDA HARMONIA,8
557,2013,47,12/04/2013 a 09/05/2013,AC,RIO BRANCO,0151201,CRIA√á√ÉO DE BOVINOS P,MOZAR MARCONDES FILHO,33574090978,FAZENDA AGOPECU√ÅRIA SORRISO,13

In [70]:
#As 10 primeiras linhas
df_empresas.sort_values('UF').head(10)

,Ano,Opera√ß√£o,Dia/M√™s,UF,Munic√≠pio,CNAE,Descri√ß√£o CNAE,Propriet√°rio,CNPJ/CEI/CPF,Estabelecimento Inspecionado,N¬∫ Trab. cond. analog escravo
789,2014,145,18/11/2014 a 19/12/2014,AC,RIO BRANCO,0151201,CRIA√á√ÉO DE BOVINOS P,FELIPE JOEL VERAS PINHEIRO,86784552253,ARRENDAMENTO DA FAZENDA ESTANCIA GUANABARA,15
685,2014,21,11/03/2014 a 21/03/2014,AC,SENA MADUREIRA,1092900,FABRICA√á√ÉO DE BISCOI,MIRAGINA S/A IND√öSTRIA E COM√âRCIO,4063681000198,FAZENDA MIRAGINA I,1
698,2014,33,29/07/2014 a 08/08/2014,AC,TARAUAC√Å,0151201,CRIA√á√ÉO DE BOVINOS P,JOS√â TELES DE OLIVEIRA FILHO,62069268268,FAZENDA PORTO ALEGRE,55
726,2014,67,22/04/2014 a 17/07/2014,AC,RIO BRANCO,0151201,CRIA√á√ÉO DE BOVINOS P,AMANDIO CELESTINO COGO,12029939900,ARRENDAMENTO DA FAZENDA PERSEVERAN√áA,3
921,2016,22,29/03/2016 a 08/04/2016,AC,RIO BRANCO,0151201,CRIA√á√ÉO DE BOVINOS P,LEANDRO LUIS LEITE,9817623874,FAZENDA CORREGO DO OURO,7
7,2010,7,22/01/2010 a 18/02/2010,AC,PORTO ACRE,0151202,CRIA√á√ÉO DE BOVINOS P,ROQUE REIS BARREIROS J√öNIOR\n,33954305291,FAZENDA HARMONIA,8
557,2013,47,12/04/2013 a 09/05/2013,AC,RIO BRANCO,0151201,CRIA√á√ÉO DE BOVINOS P,MOZAR MARCONDES FILHO,33574090978,FAZENDA AGOPECU√ÅRIA SORRISO,13
337,2011,151,23/08/2011 a 22/11/2011,AC,FEIJ√ì,0151201,CRIA√á√ÉO DE BOVINOS P,RUI PINTO,73757187768,FAZENDA MASSIPIRA,7
948,2016,63,16/08/2016 a 26/08/2016,AC,SENA MADUREIRA,0151201,CRIA√á√ÉO DE BOVINOS P,JOSE ARMANDO DE SOUZA,22753540691,FAZENDA ANTIMARY,10
252,2011,69,11/05/2011 a 07/06/2011,AC,PL√ÅCIDO DE CASTRO,0151201,CRIA√á√ÉO DE BOVINOS P,FERNANDO BARBOSA TEIXEIRA -,61773930125,FAZENDA VALE VERDE,8

In [72]:
#Ordenas por mais de uma coluna
df_empresas.sort_values(['UF','Ano'])

,Ano,Opera√ß√£o,Dia/M√™s,UF,Munic√≠pio,CNAE,Descri√ß√£o CNAE,Propriet√°rio,CNPJ/CEI/CPF,Estabelecimento Inspecionado,N¬∫ Trab. cond. analog escravo
7,2010,7,22/01/2010 a 18/02/2010,AC,PORTO ACRE,0151202,CRIA√á√ÉO DE BOVINOS P,ROQUE REIS BARREIROS J√öNIOR\n,33954305291,FAZENDA HARMONIA,8
252,2011,69,11/05/2011 a 07/06/2011,AC,PL√ÅCIDO DE CASTRO,0151201,CRIA√á√ÉO DE BOVINOS P,FERNANDO BARBOSA TEIXEIRA -,61773930125,FAZENDA VALE VERDE,8
337,2011,151,23/08/2011 a 22/11/2011,AC,FEIJ√ì,0151201,CRIA√á√ÉO DE BOVINOS P,RUI PINTO,73757187768,FAZENDA MASSIPIRA,7
557,2013,47,12/04/2013 a 09/05/2013,AC,RIO BRANCO,0151201,CRIA√á√ÉO DE BOVINOS P,MOZAR MARCONDES FILHO,33574090978,FAZENDA AGOPECU√ÅRIA SORRISO,13
685,2014,21,11/03/2014 a 21/03/2014,AC,SENA MADUREIRA,1092900,FABRICA√á√ÉO DE BISCOI,MIRAGINA S/A IND√öSTRIA E COM√âRCIO,4063681000198,FAZENDA MIRAGINA I,1
...,...,...,...,...,...,...,...,...,...,...,...
1007,2017,24,28/03/2017 a 07/04/2017,TO,ARAPOEMA,0151201,CRIA√á√ÉO DE BOVINOS P,JOAQUIM HENRIQUE ELIAS SOARES,74476009620,FAZENDA PONTAL,7
1033,2017,73,01/08/2017 a 11/08/2017,TO,ARAGUATINS,0151203,"CRIA√á√ÉO DE BOVINOS,",OSEMAR CRUZ MOUZINHO,62634119100,"FAZENDAS SENHOR DO BONFIM, CASA VERDE E ROQUINHO",8
1123,2018,83,09/10/2018 a 19/10/2018,TO,SANTA RITA DO TOCANTINS,0220902,PRODU√á√ÉO DE CARV√ÉO V,D M DE FREITAS - CARV√ÉO,16804341000150,FAZENDA S√ÉO SEBASTI√ÉO - LOT DUERE S/N - ZONA R...,9
1205,2019,34,21/06/2019 a 23/07/2019,TO,BERNARDO SAY√ÉO,0151201,CRIA√á√ÉO DE BOVINOS P,JOS√â ROSA J√öNIOR,37760980159,"FAZENDA MACED√îNIA I - RODOVIA TO-430, BERNARDO...",4
1343,2020,69,15/09/2020 a 25/09/2020,TO,NOVA OLINDA,0151201,CRIA√á√ÉO DE BOVINOS P,AUGUSTO GRAT√ÉO,1592742149,FAZENDA GRAT√ÉO,5

### Filtrando os dados

**Filtro de coluna**

In [73]:
df_empresas.UF

0       GO
1       GO
2       TO
3       PA
4       PA
        ..
1382    MG
1383    PA
1384    PA
1385    PI
1386    MS
Name: UF, Length: 1387, dtype: object

In [74]:
df_empresas['Munic√≠pio']

0           MONTE ALEGRE DE GOI√ÅS
1           MONTE ALEGRE DE GOI√ÅS
2                      NATIVIDADE
3                          MARAB√Å
4       SANTA MARIA DAS BARREIRAS
                  ...
1382                MONTES CLAROS
1383               RONDON DO PAR√Å
1384               RONDON DO PAR√Å
1385                     PARNA√çBA
1386                      NIOAQUE
Name: Munic√≠pio, Length: 1387, dtype: object

In [75]:
df_empresas['Descri√ß√£o CNAE'].unique()

array(['CRIA√á√ÉO DE BOVINOS P', 'CULTIVO DE OUTRAS PL',
       'CULTIVO DE BATATA-IN', 'EXTRA√á√ÉO DE MADEIRA ',
       'PRODU√á√ÉO DE CARV√ÉO V', 'CULTIVO DE CANA-DE-A', 'CULTIVO DE MA√á√É',
       'CULTIVO DE SOJA', 'CULTIVO DE PINUS', 'CULTIVO DE CACAU',
       'CONSTRU√á√ÉO DE EDIF√çC', 'ATIVIDADES DE APOIO ', 'CULTIVO DE CAF√â',
       'CULTIVO DE ERVA-MATE', 'FABRICA√á√ÉO DE ARTEFA',
       'PRODU√á√ÉO DE SEMENTES', 'CRIA√á√ÉO DE BOVINOS, ',
       'CONSTRU√á√ÉO DE RODOVI', 'EXTRA√á√ÉO DE AREIA, C',
       'CULTIVO DE MORANGO', 'OBRAS DE TERRAPLENAG',
       'EXTRA√á√ÉO DE MIN√âRIOS', 'EXTRA√á√ÉO DE CALC√ÅRIO',
       'SERRARIAS COM DESDOB', 'CULTIVO DE FEIJ√ÉO',
       'EXTRA√á√ÉO DE MIN√âRIO ', 'CULTIVO DE MILHO', 'SERVI√áOS DE ENGENHAR',
       'DISCOTECAS, DANCETER', 'TRANSPORTE FERROVI√ÅR',
       'SERRARIAS SEM DESDOB', 'SERVI√áO DE PREPARA√á√É',
       'CONFEC√á√ÉO DE PE√áAS D', 'CULTIVO DE ARROZ', 'CULTIVO DE FUMO',
       'CULTIVO DE ABACAXI', 'CULTIVO DE SERINGUEI',
       'COM√âRCIO VAREJISTA D', 'HOT√âIS', 'CULTIVO DE EUCALIPTO',
       'INCORPORA√á√ÉO DE EMPR', 'FABRICA√á√ÉO DE MADEIR',
       'CULTIVO DE ESP√âCIES ', 'RESTAURANTES E SIMIL',
       'COMERCIO VAREJISTA D', 'CULTIVO DE A√áA√ç', 'FABRICA√á√ÉO DE PRODUT',
       'EXTRA√á√ÉO DE QUARTZO', 'EXTRA√á√ÉO E BRITAMENT',
       'MANUTEN√á√ÉO DE REDES ', 'CONSTRU√á√ÉO DE ESTA√á√ï', 'FLORICULTURA',
       'CULTIVO DE COCO-DA-B', 'COM√âRCIO ATACADISTA ',
       'MOAGEM E FABRICA√á√ÉO ', 'PRODU√á√ÉO DE CASCA DE',
       'OBRAS DE URBANIZA√á√ÉO', 'TRANSPORTE RODOVI√ÅRI',
       'CULTIVO DE FRUTAS DE', 'CRIA√á√ÉO DE SU√çNOS',
       'EXTRA√á√ÉO DE CARV√ÉO M', 'OUTRAS OBRAS DE ENGE',
       'OUTRAS ATIVIDADES DE', 'PRODU√á√ÉO DE PRODUTOS',
       'FABRICA√á√ÉO DE ESTRUT', 'FABRICA√á√ÉO DE CONSER',
       'PRODU√á√ÉO DE FERRO-GU', 'CULTIVO DE TOMATE RA',
       'EXTRA√á√ÉO DE GRANITO ', 'COMPRA E VENDA DE IM',
       'COLETA DE RES√çDUOS N', 'CARGA E DESCARGA', 'CULTIVO DE DEND√ä',
       'CRIA√á√ÉO DE OUTROS AN', 'FABRICA√á√ÉO DE √ÅLCOOL',
       'CULTIVO DE LARANJA', 'COLETA DE PRODUTOS N',
       'ATIVIDADES DE TRANSP', 'ATIVIDADES DE ASSOCI',
       'HORTICULTURA, EXCETO', 'CULTIVO DE OUTRAS OL',
       'OBRAS DE ALVENARIA', 'PESCA DE PEIXES EM √Å',
       'FABRICA√á√ÉO DE A√á√öCAR', 'CULTIVO DE TECA', 'REFINO E OUTROS TRAT',
       'HOLDINGS DE INSTITUI', 'CULTIVO DE MANDIOCA',
       'OBRAS DE ACABAMENTO ', 'INSTALA√á√ÉO DE PORTAS',
       'FAC√á√ÉO DE PE√áAS DO V', 'SERVI√áOS DE ENTREGA ',
       'CRIA√á√ÉO DE FRANGOS P', 'SERVI√áOS DE CONFEC√á√É',
       'INSTALA√á√ÉO E MANUTEN', 'CULTIVO DE BANANA',
       'SERVI√áOS ESPECIALIZA', 'EXTRA√á√ÉO DE BASALTO ',
       'MONTAGEM DE ESTRUTUR', 'FABRICA√á√ÉO DE OBRAS ',
       'LANCHONETES, CASAS D', 'TRANSPORTE MAR√çTIMO ',
       'FABRICA√á√ÉO DE BISCOI', 'COLETA DE CASTANHA-D',
       'OBRAS DE MONTAGEM IN', 'EXTRA√á√ÉO DE OUTROS M', 'CULTIVO DE MANGA',
       'CULTIVO DE MARACUJ√Å', 'OUTRAS OBRAS DE ACAB',
       'CLUBES SOCIAIS, ESPO', 'PREPARA√á√ÉO E FIA√á√ÉO ',
       'FABRICA√á√ÉO DE OUTROS', 'PROCESSAMENTO INDUST',
       'CULTIVO DE CEBOLA', 'REPRESENTANTES COMER',
       'EXTRA√á√ÉO DE SAL MARI', 'TOALHEIROS', 'ABATE DE AVES',
       'ARMAZ√âNS GERAIS - EM', 'CONFEC√á√ÉO, SOB MEDID',
       'FILMAGEM DE FESTAS E', 'FABRICA√á√ÉO DE CIMENT',
       'CONFEC√á√ÉO DE ROUPAS ', 'CONSTRU√á√ÉO DE REDES ',
       'FABRICA√á√ÉO DE BIJUTE', 'OUTROS ALOJAMENTOS N',
       'CRIA√á√ÉO DE EQ√úINOS', 'INSTALA√á√ïES HIDR√ÅULI',
       'PRODU√á√ÉO DE ESPET√ÅCU', 'PRODU√á√ÉO DE OVOS', 'FABRICA√á√ÉO DE OUTRAS',
       'COLETA DE PALMITO EM', 'SERVI√áOS DOM√âSTICOS',
       'ALUGUEL DE PALCOS, C', 'PREPARA√á√ÉO DE DOCUME',
       'ATIVIDADES DE CONSUL', 'ALUGUEL DE IM√ìVEIS P',
       'FABRICA√á√ÉO DE FARINH', 'PREPARA√á√ÉO DE CANTEI',
       'ALUGUEL DE OUTRAS M√Å', 'CULTIVO DE OUTROS CE',
       'FABRICA√á√ÉO DE M√ìVEIS', 'FABRICA√á√ÉO DE √ìLEOS ',
       'PARQUES DE DIVERS√ÉO ', 'EXTRA√á√ÉO DE GESSO E ',
       'BENEFICIAMENTO DE GE', 'FABRICA√á√ÉO DE MATERI',
       'EXTRA√á√ÉO DE SAIBRO E', 'SERVI√áOS AMBULANTES ', nan,
       'CRIA√á√ÉO DE OUTROS GA', 'MOT√âIS', 'EXTRA√á√ÉO DE GEMAS (P',
       'PERFURA√á√ÉO E CONSTRU', 'CULTIVO DE MUDAS EM '], dtype=object)

In [76]:
#Contar valores
df_empresas['Munic√≠pio'].value_counts()

S√ÉO PAULO                   53
RIO DE JANEIRO              33
S√ÉO F√âLIX DO XINGU          30
NOVO REPARTIMENTO           17
BELO HORIZONTE              16
                            ..
SANTA TEREZINHA              1
MAT√ÉO                        1
S√ÉO PEDRO DA √ÅGUA BRANCA     1
MATUP√Å                       1
NIOAQUE                      1
Name: Munic√≠pio, Length: 659, dtype: int64

Para colunas num√©rias:

*  `min()` pega o menor valor
*  `max()` pega o maior valor
*  `median()` pega a mediana
*  `mean()` pega a m√©dia
*  `mode()` pega o valor mais comum

In [77]:
df_empresas['N¬∫ Trab. cond. analog escravo'].max()

433

In [78]:
df_empresas[df_empresas.UF == 'PE']

,Ano,Opera√ß√£o,Dia/M√™s,UF,Munic√≠pio,CNAE,Descri√ß√£o CNAE,Propriet√°rio,CNPJ/CEI/CPF,Estabelecimento Inspecionado,N¬∫ Trab. cond. analog escravo
494,2012,122,28/03/2012 a 23/11/2012,PE,√ÅGUA PRETA,0113000,CULTIVO DE CANA-DE-A,MARCO ANTONIO MOURA DE ARRUDA FALC√ÉO,53156781487,ENGENHO CORRIENTE,19
512,2012,142,13/02/2012 a 19/03/2012,PE,RECIFE,6462000,HOLDINGS DE INSTITUI,RIOMAR SHOPPING S.A,8853970000141,RIOMAR SHOPPING S.A,6
528,2013,19,14/02/2013 a 04/03/2013,PE,PETROLINA,4330403,OBRAS DE ACABAMENTO,GESSO BRASIL LTDA ME,11340292000128,GESSO BRASIL LTDA ME,1
530,2013,21,04/03/2013 a 12/03/2013,PE,TORITAMA,1412601,CONFEC√á√ÉO DE PE√áAS D,DILMA FIGUEREDO DA SILVA - ME,6005121000102,MOD'GRRIFF,7
725,2014,65,26/06/2014 a 02/07/2014,PE,PETROLINA,0133410,CULTIVO DE MANGA,MANDACARU AGROPECU√ÅRIA LTDA - EPP,10613545000127,FAZENDA MANDACARU,8
1198,2019,24,21/05/2019 a 31/05/2019,PE,ARARIPINA,1063500,FABRICA√á√ÉO DE FARINH,JOS√â PEDRO DA SILVA,63333783304,"CASA DE FARINHA S√ÉO PEDRO, RUA ATRAS DA RUA 06...",5
1218,2019,48,09/04/2019 a 30/05/2019,PE,ARCOVERDE,0119999,CULTIVO DE OUTRAS PL,EDSON PORFIRIO DE CARVALHO,50791532453,"FAZENDA MALHADA - RODOVIA BR 232, KM 262/264, ...",10
1286,2019,159,28/08/2019 a 16/03/2020,PE,ARA√áOIABA,1071600,FABRICA√á√ÉO DE A√á√öCAR,USINA SAO JOSE S/A,10362820000187,ENGENHO CUMBE DE CIMA,45
1288,2019,162,28/08/2019 a 07/05/2020,PE,ARA√áOIABA,0113000,CULTIVO DE CANA-DE-A,USINA S√ÉO JOS√â SA,10362820000187,"ENGENHO CUMBE DE CIMA, SITUADO NA ZONA RURAL, DO",45
1301,2020,2,27/01/2020 a 07/02/2020,PE,OLINDA,4120400,CONSTRU√á√ÉO DE EDIF√çC,CONSTRUTORA INGAZEIRA LTDA,749205000174,"OBRA LOCALIZADA NA AVENIDA BEIRA RIO, BAIRRO D...",10

**Filtro de linha**

In [79]:
df_empresas[df_empresas['N¬∫ Trab. cond. analog escravo'] > 10]

,Ano,Opera√ß√£o,Dia/M√™s,UF,Munic√≠pio,CNAE,Descri√ß√£o CNAE,Propriet√°rio,CNPJ/CEI/CPF,Estabelecimento Inspecionado,N¬∫ Trab. cond. analog escravo
2,2010,1,19/01/2010 a 29/01/2010,TO,NATIVIDADE,0151201,CRIA√á√ÉO DE BOVINOS P,EMIVAL RAMOS CAIADO FILHO\n,9655298191,FAZENDA SANTA M√îNICA,26
4,2010,3,27/01/2010 a 05/02/2010,PA,SANTA MARIA DAS BARREIRAS,0151201,CRIA√á√ÉO DE BOVINOS P,CSM AGROPECU√ÅRIA S.A\n(FAZENDA TARUM√É),5303431000221,CSM AGROPECU√ÅRIA S.A\n(FAZENDA TARUM√É),28
5,2010,4,23/12/2010 a 29/01/2010,MG,ARAGUARI,0119999,CULTIVO DE OUTRAS PL,PEDRO EUST√ÅQUIO PELLEGRINI\n,35048328604,FAZENDA CUNHAS,14
9,2010,9,03/03/2010 a 09/03/2010,RS,BOM JESUS,0119903,CULTIVO DE BATATA-IN,PAULO CEZAR SEGALA\n,73466778034,PAULO CEZAR SEGALA\n,24
13,2010,11,10/03/2010 a 19/03/2010,PA,RONDON DO PAR√Å,0210108,PRODU√á√ÉO DE CARV√ÉO V,CARVOARIA CHAPAD√ÉO LTDA.,11007755000134,CARVOARIA CHAPAD√ÉO LTDA.,61
...,...,...,...,...,...,...,...,...,...,...,...
1371,2020,170,08/10/2020 a 11/01/2021,MG,ARAX√Å,4292802,OBRAS DE MONTAGEM IN,MANSERV MONTAGEM E MANUTEN√á√ÉO S/A,54183587000221,NaN,63
1372,2020,172,01/09/2020 a 12/01/2021,SC,ITUPORANGA,0119-9/04,NaN,PATR√çCIA POLICARPO,93566670987,NaN,14
1377,2020,180,02/09/2020 a 11/01/2021,PI,PIRACURUCA,0220999,COLETA DE PRODUTOS N,NILO FELIX CARDOSO,30625173368,NaN,19
1384,2020,189,01/12/2020 a 12/01/2021,PA,RONDON DO PAR√Å,4671100,COM√âRCIO ATACADISTA,GUAMA COM√âRCIO DE COMPENSADOS E REPRESENTA√á√ïES...,8724077000205,"FAZENDA MOREIRA, 4¬∫31‚Äô16.4‚Äô‚ÄôS ‚Äì 48¬∫15‚Äô03.2‚Äô‚ÄôW,...",13
1386,2020,195,03/12/2020 a 13/01/2021,MS,NIOAQUE,0115600,CULTIVO DE SOJA,MAISA RODRIGUES DA COSTA,1385847107,FAZENDA SALTO,15

In [80]:
df_empresas[df_empresas.Ano > 2017]

,Ano,Opera√ß√£o,Dia/M√™s,UF,Munic√≠pio,CNAE,Descri√ß√£o CNAE,Propriet√°rio,CNPJ/CEI/CPF,Estabelecimento Inspecionado,N¬∫ Trab. cond. analog escravo
1075,2018,3,16/01/2018 a 26/01/2018,PA,S√ÉO GERALDO DO ARAGUAIA,0151201,CRIA√á√ÉO DE BOVINOS P,SEBASTI√ÉO MARQUES DA MOTA,8148449104,"FAZENDAS PEDRA BRANCA, ARCO VERDE E TALISM√É",5
1076,2018,6,29/01/2018 a 03/02/2018,GO,S√ÉO MIGUEL DO ARAGUAIA,0151201,CRIA√á√ÉO DE BOVINOS P,JOS√â EDUARDO SANCHES,14277580858,FAZENDAS ALAIA E SANTA ADELAIDE,15
1077,2018,8,01/02/2018 a 22/02/2018,ES,ALFREDO CHAVES,0133402,CULTIVO DE BANANA,ANDRISS√ÉO ROQUE QUINTINO,7085262761,"SITIO BOM RETIRO, BOM RETIRO, DISTRITO DE IBIT...",6
1078,2018,9,25/01/2018 a 19/03/2018,GO,COLINAS DO SUL,0810006,"EXTRA√á√ÉO DE AREIA, C",RUI MATHILDES DOS REIS E LUIZ S√âRGIO MIRANDA L...,19977623000147,RMR - MECAL CONSTRU√á√ïES E LOCA√á√ïES DE M√ÅQUINAS...,5
1079,2018,10,22/01/2018 a 28/03/2018,MG,BELO HORIZONTE,4120400,CONSTRU√á√ÉO DE EDIF√çC,SAMARTE ENGENHARIA - CONSTRU√á√ïES E INCORPORA√á√ï...,21317426000143,SAMARTE ENGENHARIA - CONSTRU√á√ïES E INCORPORA√á√ï...,5
...,...,...,...,...,...,...,...,...,...,...,...
1382,2020,188,05/10/2020 a 12/01/2021,MG,MONTES CLAROS,0810006,"EXTRA√á√ÉO DE AREIA, C",GILSON APARECIDO LIRA,6964476814,"AVENIDA CENTRAL, N¬∫ 222",2
1383,2020,189,01/12/2020 a 12/01/2021,PA,RONDON DO PAR√Å,4211101,CONSTRU√á√ÉO DE RODOVI,CONSTRUTORA CAMILLO E EMPREENDIMENTOS LTDA,11022498000100,"FAZENDA MOREIRA, SITUADA EM COORDENADA GEOGR√ÅFICA",8
1384,2020,189,01/12/2020 a 12/01/2021,PA,RONDON DO PAR√Å,4671100,COM√âRCIO ATACADISTA,GUAMA COM√âRCIO DE COMPENSADOS E REPRESENTA√á√ïES...,8724077000205,"FAZENDA MOREIRA, 4¬∫31‚Äô16.4‚Äô‚ÄôS ‚Äì 48¬∫15‚Äô03.2‚Äô‚ÄôW,...",13
1385,2020,190,26/11/2020 a 15/12/2020,PI,PARNA√çBA,1529700,FABRICA√á√ÉO DE ARTEFA,NR N SANTOS ME,63346605000159,CASA DOS COUROS,1
1386,2020,195,03/12/2020 a 13/01/2021,MS,NIOAQUE,0115600,CULTIVO DE SOJA,MAISA RODRIGUES DA COSTA,1385847107,FAZENDA SALTO,15

In [81]:
#Filtros compostos

acima_dez_libertos = df_empresas[df_empresas['N¬∫ Trab. cond. analog escravo'] > 10]

acima_dez_libertos[df_empresas.Ano > 2017].head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

,Ano,Opera√ß√£o,Dia/M√™s,UF,Munic√≠pio,CNAE,Descri√ß√£o CNAE,Propriet√°rio,CNPJ/CEI/CPF,Estabelecimento Inspecionado,N¬∫ Trab. cond. analog escravo
1076,2018,6,29/01/2018 a 03/02/2018,GO,S√ÉO MIGUEL DO ARAGUAIA,0151201,CRIA√á√ÉO DE BOVINOS P,JOS√â EDUARDO SANCHES,14277580858,FAZENDAS ALAIA E SANTA ADELAIDE,15
1084,2018,16,05/02/2018 a 18/04/2018,MG,S√ÉO VICENTE DE MINAS,7020400,ATIVIDADES DE CONSUL,"C√çCERO VICENTE DE ARA√öJO, MIGUEL DONISETE GON√á...",11626418000125,NOVA VIS√ÉO ASSESSORIA E CONSULTORIA EMPRESARIAL,132
1085,2018,16,05/02/2018 a 18/04/2018,MG,S√ÉO VICENTE DE MINAS,0151201,CRIA√á√ÉO DE BOVINOS P,NOVA VIS√ÉO ASSESSORIA E CONSULTORIA EMPRESARIAL,11626418000125,OPERA√á√ÉO NOVA CANA√É,433
1086,2018,20,23/07/2018 a 03/08/2018,MA,CAXIAS,0220999,COLETA DE PRODUTOS N,RAIMUNDO DE OLIVEIRA NOGUEIRA,27511529372,RAIMUNDO DE OLIVEIRA NOGUEIRA,20
1090,2018,27,22/03/2018 a 13/04/2018,MG,S√ÉO JO√ÉO DEL REI,0210108,PRODU√á√ÉO DE CARV√ÉO V,EDUARDO ABREU SILVA,3075549614,FAZENDA SULAIZ,15

### Agrupar e agregar dados

In [82]:
df_empresas.groupby('Ano')

In [83]:
df_empresas.groupby('Ano').sum()

      Opera√ß√£o      CNPJ/CEI/CPF  N¬∫ Trab. cond. analog escravo
Ano
2010     10154  1040533081000965                           2640
2011     14893  1065494547474719                           2496
2012     10558   944432500457519                           2775
2013     13431  1466077410472069                           2808
2014     10446  1021003436487168                           1754
2015      8748   640933496658111                           1205
2016      6538   673443503759778                            972
2017      6653   397391511965390                            648
2018      8794   368787256184814                           1752
2019     10327   907281028163963                           1193
2020      7628   450493791395519                            821

In [84]:
df_empresas[['Ano','N¬∫ Trab. cond. analog escravo']].groupby('Ano').sum().sort_values('N¬∫ Trab. cond. analog escravo', ascending=False)

      N¬∫ Trab. cond. analog escravo
Ano
2013                           2808
2012                           2775
2010                           2640
2011                           2496
2014                           1754
2018                           1752
2015                           1205
2019                           1193
2016                            972
2020                            821
2017                            648

### Bora Investigar? üîéüïµüèæ‚Äç‚ôÄÔ∏è

In [ ]:
#Total de pessoas em libertas do trabalho escravo de 2010 a 2020
df_empresas['N¬∫ Trab. cond. analog escravo'].sum()

In [ ]:
#rancking de empresas (CNAE)
df_empresas['Descri√ß√£o CNAE'].value_counts().head(5)

In [ ]:
#Qual os 10 estados com mais opera√ß√µes

df_empresas[['UF','Opera√ß√£o']].groupby('UF').sum().sort_values('Opera√ß√£o', ascending=False).head(10)

In [ ]:
#Ano em que mais houve altua√ß√£o
df_empresas[['Ano','Opera√ß√£o']].groupby('Ano').sum().sort_values('Opera√ß√£o', ascending=False)

In [ ]:
#Numero total de pessoas libertas atrav√©s dos anos por estado
df_empresas[['UF','N¬∫ Trab. cond. analog escravo']].groupby('UF').sum().sort_values('N¬∫ Trab. cond. analog escravo', ascending=False)

In [ ]:
#Qual ano que mais houveram pessoas libertadas
df_empresas[['Ano','N¬∫ Trab. cond. analog escravo']].groupby('Ano').sum().sort_values('N¬∫ Trab. cond. analog escravo', ascending=False)

### Saaalvandooo üíæ

In [ ]:
df_empresas.to_csv('meu_arquivo.csv', index=False)

# **MilkShake dos Dados** ü•§

### Agenda

*  Importar requests (intera√ß√£o com sites e APIs) e querido_diario_toolbox (utilit√°rios do QD)
*  Indentificar apenas os CNPJs dentre CNPJs, CEIs e CPFs
*  Buscar CNPJs no Querido Di√°rio
*  Cruzar nossa base de dados com a da Receita Federal usando o Minha Receita

### Imports

In [85]:
# Se n√£o tiver o querido-diario-toolbox instalado (no Google Colab n√£o tem), execute essa c√©lula
!apt-get install libmagic-dev
!pip install --ignore-requires-python querido-diario-toolbox

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  libmagic-mgc libmagic1
Suggested packages:
  file
The following NEW packages will be installed:
  libmagic-dev libmagic-mgc libmagic1
0 upgraded, 3 newly installed, 0 to remove and 20 not upgraded.
Need to get 332 kB of archives.
After this operation, 5,552 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libmagic-mgc amd64 1:5.32-2ubuntu0.4 [184 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libmagic1 amd64 1:5.32-2ubuntu0.4 [68.6 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libmagic-dev amd64 1:5.32-2ubuntu0.4 [79.7 kB]
Fetched 332 kB in 0s (935 kB/s)
Selecting previously unselected package libmagic-mgc.
(Reading database ... 155569 files and directories currently installed.)
Preparing to unpack .../libmagic-mgc_1%3a5.32-2ubuntu0.4_amd64.deb ...
Unpacking libmagic-mgc (1:5.32-2ubuntu0.4) ...
Selecting previously unselected package libmagic1:amd64.
Preparing to unpack .../libmagic1_1%3a5.32-2ubuntu0.4_amd64.deb ...
Unpacking libmagic1:amd64 (1:5.32-2ubuntu0.4) ...
Selecting previously unselected package libmagic-dev:amd64.
Preparing to unpack .../libmagic-dev_1%3a5.32-2ubuntu0.4_amd64.deb ...
Unpacking libmagic-dev:amd64 (1:5.32-2ubuntu0.4) ...
Setting up libmagic-mgc (1:5.32-2ubuntu0.4) ...
Setting up libmagic1:amd64 (1:5.32-2ubuntu0.4) ...
Setting up libmagic-dev:amd64 (1:5.32-2ubuntu0.4) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.5) ...
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting querido-diario-toolbox
  Downloading querido_diario_toolbox-0.2.0-py2.py3-none-any.whl (11 kB)
Collecting python-magic
  Downloading python_magic-0.4.27-py2.py3-none-any.whl (13 kB)
Installing collected packages: python-magic, querido-diario-toolbox
Successfully installed python-magic-0.4.27 querido-diario-toolbox-0.2.0

In [86]:
import requests
from querido_diario_toolbox.process.edition_process import is_valid_cnpj

### Identificando CNPJs

In [ ]:
df_empresas['CNPJ/CEI/CPF']

In [ ]:
# Observando o tipo da coluna
df_empresas['CNPJ/CEI/CPF'].dtype

In [ ]:
# A fun√ß√£o de checar se √© um CNPJ v√°lido pede uma string (ou "object", como o pandas gosta de chamar)
df_empresas['CNPJ/CEI/CPF'].apply(is_valid_cnpj)

In [ ]:
# Convertendo tipo da coluna
df_empresas['CNPJ/CEI/CPF'] = df_empresas['CNPJ/CEI/CPF'].astype('str')
df_empresas['CNPJ/CEI/CPF'].apply(is_valid_cnpj)

In [ ]:
# Filtrando DataFrame apenas pelas linhas que tem empresas com CNPJ v√°lido
df_empresas = df_empresas[df_empresas['CNPJ/CEI/CPF'].apply(is_valid_cnpj)]

### Buscando CNPJs no Querido Di√°rio

In [ ]:
# Selecionando linha espec√≠fica
df_empresas['CNPJ/CEI/CPF'].iloc[20]

In [ ]:
# Inserindo c√≥digo dentro de uma string com f-strings
url = f"https://queridodiario.ok.org.br/api/gazettes/?keywords={df_empresas['CNPJ/CEI/CPF'].iloc[20]}&size=10&fragment_size=1000&pre_tags=@@@&post_tags=@@@"
url

In [ ]:
# Com requests, fica f√°cil fazer requisi√ß√µes para qualquer site na internet e assim podemos interagir com a API do QD
response = requests.get(url)
response.json()

In [ ]:
# Repetindo a busca no QD para todos os CNPJs
ocorrencias = []
for cnpj in df_empresas['CNPJ/CEI/CPF']:
    url = f"https://queridodiario.ok.org.br/api/gazettes/?keywords={cnpj}&size=10&fragment_size=1000"
    response_json = requests.get(url).json()
    ocorrencia = {'cnpj': cnpj, 'n_ocorrencias': response_json['total_gazettes']}
    ocorrencias.append(ocorrencia)

# Criando um DataFrame a partir de uma lista de dicion√°rios (ocorrencias)
ocorrencias_por_cnpj = pd.DataFrame(ocorrencias)
ocorrencias_por_cnpj

In [ ]:
n_ocorrencias_positivo = ocorrencias_por_cnpj[ocorrencias_por_cnpj['n_ocorrencias'] > 0]
n_ocorrencias_positivo

In [ ]:
# Podemos excluir linhas duplicadas
n_ocorrencias_positivo = n_ocorrencias_positivo.drop_duplicates()
n_ocorrencias_positivo

In [ ]:
# Tamb√©m podemos visualizar em gr√°fico!
n_ocorrencias_positivo.plot.barh(x='cnpj')

In [ ]:
n_ocorrencias_positivo['cnpj'].iloc[0]

### Cruzando dados com a RFB usando Minha Receita

In [ ]:
url = f"https://minhareceita.org/{n_ocorrencias_positivo['cnpj'].iloc[0]}"
response = requests.get(url)
response.json()

In [ ]:
cnpj_infos = []
for cnpj in n_ocorrencias_positivo['cnpj']:
    url = f"https://minhareceita.org/{cnpj}"
    response_json = requests.get(url).json()
    cnpj_infos.append(response_json)
    
cnpj_infos = pd.DataFrame(cnpj_infos)
cnpj_infos

In [ ]:
# Quando temos colunas com a mesma informa√ß√£o em dois DataFrames, podemos mescl√°-los
cnpj_infos = n_ocorrencias_positivo.merge(cnpj_infos, left_on='cnpj', right_on='cnpj')
cnpj_infos

In [ ]:
# E isso pode ser repetido at√© cruzarmos todas as informa√ß√µes que coletamos
cnpj_infos.merge(df_empresas, left_on='cnpj', right_on='CNPJ/CEI/CPF')